@tailwind base;
@tailwind components;
@tailwind utilities;

body, html{
  margin:0;
  padding: 0,
  
}


@keyframes slide-out-right {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes slide-in-right {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-out-right {
  animation: slide-out-right 0.5s forwards;
}

.animate-slide-in-right {
  animation: slide-in-right 0.5s forwards;
}


/* CARROUSEL animations */
.slide-enter {
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.slide-enter-active {
  transform: translateX(0%);
  opacity: 1;
}

.slide-exit {
  transform: translateX(0%);
  opacity: 1;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.slide-exit-active {
  transform: translateX(-100%);
  opacity: 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}

